-e  git+https://github.com/facebookresearch/sam2.git@0e78a118995e66bb27d78518c4bd9a3e95b4e266#egg=SAM-2 
accelerate>=1.1.1
conformer
dashscope
decord
decord
diffusers>=0.31.0
easydict
flash_attn
ftfy
gdown
GitPython
gradio>=4.0.0
hydra-core
HyperPyYAML
imageio-ffmpeg
imageio[ffmpeg]
inflect
librosa
lightning
loguru
matplotlib
modelscope
numpy>=1.23.5,<2
omegaconf
onnxruntime
openai-whisper
opencv-python>=4.9.0.80
pandas
peft
peft
pyarrow
pyworld
rich
sentencepiece
tokenizers>=0.20.3
torch>=2.4.0
torchaudio
torchvision>=0.19.0
tqdm
transformers>=4.49.0,<=4.51.3
wetext
wget